{% extends "customer_executive_layout.html" %}

{% block content %}
<h2>Confirm delete customer</h2>
<form method="post">
<div class="row justify-content-center col-auto">
<table class="table table-hover text-center">
    <tbody>
    {% for i, v in data %}
        <tr>
            <td class="table-info">{{i}}</td>
            <td>{{v}}</td>
        </tr>
        <input type="hidden" name="{{i}}" value="{{v}}"/>
    {% endfor %}
    </tbody>
</table>
    </div>
    <button type="submit" id="sub-button" class="btn btn-primary center-block">confirm</button>
</form><br>
<a href="{{create_customer}}"><button type="submit" class="btn btn-primary center-block">Cancel</button></a>
{% endblock %}