{% extends "customer_executive_layout.html" %}

{% block content %}

<h2 align="center">Create Customer</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<div class="row justify-content-center col-auto">
    <div class="text-center">
<form method="post" id="test-form">
    <table class="table text-center">
   <tr>
<td>customer_id</td>
     <td><input type="text" pattern="\d*" name="customer_id" minlength="9" maxlength="9" placeholder="customer_id" required/></td>
       </tr>
    <tr>
     <td>customer_ssn</td>
     <td><input type="text" pattern="\d*" name="customer_ssn" minlength="9" maxlength="9" placeholder="customer_ssn" required/></td>
    </tr>
   <tr>
     <td>customer_name</td>
     <td><input type="text" name="customer_name" placeholder="customer_name" required/></td>
    </tr>
    <tr>
      <td>age</td>
      <td><input type="number" name="age" placeholder="age" required/></td>
    </tr>
    <tr>
      <td>address_lane_1</td>
      <td><input type="text" name="address1" placeholder="address1" required/></td>
    </tr>
    <tr>
      <td>address_lane_2</td>
      <td><input type="text" name="address2" placeholder="address2" required/></td>
    </tr>
    <tr>
      <td>city</td>
      <td><input type="text" name="city" placeholder="city" required/></td>
    </tr>
    <tr>
      <td>state</td>
      <td><input type="text" name="state" placeholder="state" required/></td>
    </tr>
    <tr>
      <td>message</td>
        <td><input type="text" name="message" placeholder="message"/></td>
    </tr>
        </table>
    </form>
    <button type="submit" id="sub-button" class="btn btn-primary center-block">submit</button>
</div>
    </div>
{% endblock %}
