{% extends "customer_executive_layout.html" %}

{% block content %}

<fieldset>
<form  action = "" method = "POST">
  {{ form.csrf_token }} <!-- this is very important so that validate functions work in the view-->
  {{ render_field(form.account_id_choices) }}
  <br>
  {{ form.account_type.label }}
  {{ form.account_type(readonly=true) }}
  <br>
  <input id="submit" class="btn btn-primary btn-lg" name="{{ form.submit.name }}" type="submit" value="{{ form.submit.label.text }}">

</form>
</fieldset>

<script>
  let id_select = document.getElementById('account_id_choices');
  let acnt_type = document.getElementById('account_type');
  id_select.onchange =function(){
    acnt_id = id_select.value;
    fetch('/get_type/'+acnt_id).then(function(response){
      response.json().then(function(data){
        console.table(data);
        acnt_type.value=data.account_type;
      });
    });
  }
</script>

 {% endblock %}
