{% extends "customer_executive_layout.html" %}

{% block content %}
<fieldset>
<form  class='form-horizontal' action = "" method = "POST">
  {{ form.csrf_token }} <!-- this is very important so that validate functions work in the view-->
  {{ render_field(form.account_id_choices) }}
  <br>
  {{ form.account_type.label }}
  {{ form.account_type(readonly=true) }}
  <br>

  <input id="submit" class="btn btn-primary center-block" name="{{ form.submit.name }}" type="submit" value="{{ form.submit.label.text }}"/>

</form>
</fieldset>

<script>
  let id_select = document.getElementById('account_id_choices');
  let acnt_type = document.getElementById('account_type');
  id_select.onchange =function(){
    acnt_id = id_select.value;
    fetch('/get_type/'+acnt_id).then(function(response){
      response.json().then(function(data){
        console.table(data);
        acnt_type.value=data.account_type;
      });
    });
  }
</script>
<!--<form name="create_account" action = "" method = "POST">-->
<!--  {{ form.csrf_token }} &lt;!&ndash; this is very important so that validate functions work in the view&ndash;&gt;-->
<!--  <div style = "font-size:18px;" font-weight:bold; margin-left:150px;>-->
<!--    {{ form.account_id_choices.label }}<br>-->
<!--    {{ form.account_id_choices }}-->
<!--    <br>-->
<!--    {{ form.account_type.label }}<br>-->
<!--    {{ form.account_type(readonly=true) }}-->
<!--    <br>-->
<!--    <br>-->
<!--    <button type="submit" class="btn btn-primary">{{ form.submit }}</button>-->
<!--  </div>-->

 {% endblock %}