{% extends "customer_executive_layout.html" %}

{% block content %}

<form name="create_account" action = "" method = "POST">
  {{ form.csrf_token }} <!-- this is very important so that validate functions work in the view-->
  <div style = "font-size:18px;" font-weight:bold; margin-left:150px;>
    {{ form.account_id_choices.label }}<br>
    {{ form.account_id_choices }}
    <br>
    {{ form.account_type.label }}<br>
    {{ form.account_type(readonly=true) }}
    <br>
    <br>
    {{ form.submit }}
  </div>
</form>

<script>
  let id_select = document.getElementById('account_id_choices');
  let acnt_type = document.getElementById('account_type');
  id_select.onchange =function(){
    acnt_id = id_select.value;
    //alert(acnt_id)
    fetch('/get_type/'+acnt_id).then(function(response){
      response.json().then(function(data){
        //alert(data);
        console.table(data);
        //let optn = 'value="'+data.account_type+'"';
        //acnt_type.innerHTML =optn;
        acnt_type.value=data.account_type;
      });
    });
  }
</script>

 {% endblock %}
