{% extends "customer_executive_layout.html" %}

{% block content %}
<h2 align="center">Delete customer</h2>
<p align="center">Please enter the customer_id</p>
<div class="row justify-content-center align-items-center h-100">
    <div class="text-center">
<form method="post" id="test-form">
   <div class="form-group">
     <label>customer_id</label>
     <input type="text" pattern="\d*" name="customer_id" minlength="9" maxlength="9" placeholder="customer_id" required/>
   </div>
    <button type="submit" id="sub-button" class="btn btn-primary">submit</button>
</form>
    </div>
</div>

{% endblock %}