{% extends "customer_executive_layout.html" %}

{% block content %}
<fieldset>
<form class='form-horizontal' action = "" method = "POST">
  {{ form.csrf_token }} <!-- this is very important so that validate functions work in the view-->
  {{ render_field(form.customer_id) }}
  <h1 class="text-center"> OR </h1>
  {{ render_field(form.ssn) }}
  <br>

  <input id="submit" class="btn btn-primary btn-lg center-block" name="{{ form.submit.name }}" type="submit" value="{{ form.submit.label.text }}">

</form>
</fieldset>
<!--<form name="create_account" action = "" method = "POST">-->
<!--  {{ form.csrf_token }} &lt;!&ndash; this is very important so that validate functions work in the view&ndash;&gt;-->
<!--  <div style = "font-size:18px; font-weight:bold; margin-left:150px;">-->
<!--    {{ form.customer_id.label }}<br>-->
<!--    {{ form.customer_id }}-->
<!--    <br>-->
<!--    <h3> OR </h3>-->
<!--    <br>-->
<!--    {{ form.ssn.label }}<br>-->
<!--    {{ form.ssn }}-->
<!--    <br>-->
<!--    <br>-->
<!--    {{ form.submit }}-->
<!--  </div>-->
<!--</form>-->
 {% endblock %}