{% extends "customer_executive_layout.html" %}

{% block content %}

<form name="create_account" action = "" method = "POST">
  {{ form.csrf_token }} <!-- this is very important so that validate functions work in the view-->
  <div style = "font-size:18px;" font-weight:bold; margin-left:150px;>
    {{ form.customer_id.label }}<br>
    {{ form.customer_id }}
    <br>
    <h3> OR </h3>
    <br>
    {{ form.ssn.label }}<br>
    {{ form.ssn }}
    <br>
    <br>
    {{ form.submit }}
  </div>
 {% endblock %}