{% extends "customer_executive_layout.html" %}

{% block content %}
<h2>Update customer</h2>
<p>please enter the customer_id or customer_ssn that needs to be updated</p>
<form method="post" id="test-form">
   <div class="form-group">
     <label>customer_id</label>
     <input type="text" pattern="\d*" name="customer_id" minlength="9" maxlength="9" placeholder="customer_id"/>
   </div>
    <p>Or</p>
    <div class="form-group">
     <label>customer_ssn</label>
     <input type="text" pattern="\d*" name="customer_ssn" minlength="9" maxlength="9" placeholder="customer_ssn"/>
   </div>
    <button type="submit" id="sub-button" class="btn btn-primary">submit</button>
</form>
{% endblock %}