{% extends "customer_executive_layout.html" %}

{% block content %}
<form method="post">
<table class="table table-borderless text-left">
    <tbody>
    {% for i, v in data %}
        <tr>
            <td>{{i}}</td><td>{{v}}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>new name</td>
        <td><input type="text" name="customer_name" placeholder="new_name"/></td>
    </tr>
    <tr>
        <td>new age</td>
        <td><input type="number" name="age" placeholder="new_age"/></td>
    </tr>
    <tr>
        <td>new address1</td>
        <td><input type="text" name="address_lane_1" placeholder="new_address1"/></td>
    </tr>
    <tr>
        <td>new address2</td>
        <td><input type="text" name="address_lane_2" placeholder="new_address1"/></td>
    </tr>
    <tr>
        <td>new city</td>
        <td><input type="text" name="city" placeholder="new city"/></td>
    </tr>
    <tr>
        <td>new state</td>
        <td><input type="text" name="state" placeholder="new state"/></td>
    </tr>
        <input type="hidden" name="customer_id" value="{{data[0][1]}}"/>

        <tr>
            <td><button type="submit" id="sub-button" class="btn btn-primary btn-lg">submit</button></td>
          </tr>
    </tbody>
</table>

</form>
{% endblock %}
